apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"weather-app","namespace":"default"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"weather-app"}},"template":{"metadata":{"labels":{"app":"weather-app"}},"spec":{"containers":[{"image":"jamesmd1996/weather-app:0.1.0","name":"weather-app","ports":[{"containerPort":80}]}]}}}}
  creationTimestamp: "2026-02-09T19:03:55Z"
  generation: 1
  name: weather-app
  namespace: default
  resourceVersion: "1800"
  uid: bab6f2d9-bfca-45ed-bf8d-8ab9d0e3d91c
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: weather-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: weather-app
    spec:
      containers:
      - image: jamesmd1996/weather-app:0.1.0
        imagePullPolicy: IfNotPresent
        name: weather-app
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2026-02-09T19:03:55Z"
    lastUpdateTime: "2026-02-09T19:03:59Z"
    message: ReplicaSet "weather-app-5689ff4d6d" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2026-02-09T19:16:54Z"
    lastUpdateTime: "2026-02-09T19:16:54Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 1
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
